
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Kullanici Giriş Sayfası</title>

    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />


    <!-- Custom styles for this template -->
    <link href="~/css/signin.css" rel="stylesheet">
</head>
<body class="text-center">
    @RenderBody();
</body>
</html>
