@model LMS.Models.ViewModels.AnaDersViewModel

@{
    ViewData["Title"] = "Guncelle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Guncelle</h1>

<div class="card">
    <div class="card-header">Yeni Ana Ders Ekleme</div>
    <div class="card-body">
        <form method="post" action="/AnaDers/Guncelle/@Model.Id">
            
            <div class="form-group">
                <label asp-for="Ad"></label>
                <input type="text" asp-for="Ad" class="form-control" />
                <span asp-validation-for="Ad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Aciklama"></label>
                <textarea asp-for="Aciklama" class="form-control"></textarea>
                <span asp-validation-for="Aciklama" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Aktif"></label>
                <input type="checkbox" asp-for="Aktif" class="form-check" />
                <span asp-validation-for="Aktif"></span>

            </div>
            <button type="submit" class="btn btn-primary">Güncelle</button>
        </form>
    </div>
</div>