@model List<Haber.Models.ViewModels.Response.ResimResponseViewModel>


@if (Model != null && Model.Any())
{
    <div class="row row-cards">
        @foreach (var item in Model)
        {
            <div class="col-md-4">
                <div class="card card-sm">
                    <a href="#" class="d-block"><img src="@item.ResimUrl" class="card-img-top"></a>
                    
                </div>
            </div>
        }

    </div>
}
