<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>>@ViewData["Title"] - Haber Sitesi</title>
    <!-- CSS files -->
    <link href="~/css/tabler.min.css" rel="stylesheet" />
    <link href="~/css/tabler-flags.min.css" rel="stylesheet" />
    <link href="~/css/tabler-payments.min.css" rel="stylesheet" />
    <link href="~/css/tabler-vendors.min.css" rel="stylesheet" />
    <link href="~/css/demo.min.css" rel="stylesheet" />
</head>
<body class="antialiased">
    <div class="wrapper">
        <div class="sticky-top">
            @await Html.PartialAsync("_Header")
            @await Html.PartialAsync("_Navbar")
        </div>
        <div class="page-wrapper">
            
            <div class="page-body">
                <div class="container-xl">
                    @RenderBody()
                </div>
            </div>
            @await Html.PartialAsync("_Footer")

        </div>
    </div>
    <!-- Tabler Core -->
    <script src="~/js/tabler.min.js"></script>
  
</body>
</html>