@model LMS.Models.ViewModels.KullaniciGirisViewModel
@{
    ViewData["Title"] = "Giris";
    Layout = "~/Views/Shared/_FullLayout.cshtml";
}

<main class="form-signin">
   
    <form asp-action="Giris" method="post">
            
        <h1 class="h3 mb-3 fw-normal">Giriş Sayfası</h1>

        <div class="form-floating">
            <input type="email" class="form-control" asp-for="Eposta"  >
            <label asp-for="Eposta"></label>
            <span asp-validation-for="Eposta" class="text-danger"></span>
        </div>
        
        <div class="form-floating">
            <input type="password" class="form-control" asp-for="Sifre" >
            <label asp-for="Sifre">Password</label>
            <span asp-validation-for="Sifre" class="text-danger"></span>
        </div>

        <button class="w-100 btn btn-lg btn-primary" type="submit">Giriş Yap</button>
       
    </form>
    <span>veya</span>

    <a class="w-100 btn-lg btn btn-success"  asp-controller="Kullanici" asp-action="Kayit">Yeni Kayıt</a>
</main>