@model Haber.MVC.Models.HomeHaberViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="row">

    <div class="col-9">
        <div class="row">
            <div class="card-body">
                @await Html.PartialAsync("_MansetPartial", Model.MansetHaberleri)
            </div>
        </div>
    </div>

    <div class="col-3">
        <!--Sidebar-->
    </div>

</div>